@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --button-text: #f3f4f6;
  --button-green-bg: #8aae92;
  --button-green-bg-hover: hsla(133.3, 18.2%, 61.2%, 0.76);
  --footer-bg: hsla(89.03225806,40.25974026%,15.09803922%,1);
  --link-color: hsla(133.33333333,18.18181818%,61.17647059%,1);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

body{
  font-family: "Poppins", sans-serif;
}
#root{
  font-family: "Poppins", sans-serif;
}

.btn-success{
  background-color: var(--button-green-bg);
}
.btn-success:hover{
  background-color: var(--button-green-bg-hover);
}